@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}
.glassEffect {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.footerImage {
  background-color: #4BAF47; /*Default bg, similar to the background's base color*/
  background-image: url("./assets/footer-image-1.png");
  background-position: right bottom; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
}
