@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.8rem;
}

.glassEffect {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.3125rem);
  -webkit-backdrop-filter: blur(0.3125rem);
  border: 0.0625rem solid rgba(255, 255, 255, 0.3);
}

.glassEffect2 {
  background: rgba(165, 165, 165, 0.2);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.3125rem);
  -webkit-backdrop-filter: blur(0.3125rem);
  border: 0.0625rem solid rgba(165, 165, 165, 0.3);
}

.footerImage {
  background-color: #4baf47;
  background-image: url("./assets/footer-image-1.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.home3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 18.75rem;
  padding: 1.25rem;
  background: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial {
  margin-bottom: 1.25rem;
}

.testimonial__image {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  margin-bottom: 0.625rem;
}

.testimonial__name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.testimonial__age {
  font-size: 0.8rem;
  color: #888;
}

.testimonial__text {
  font-size: 0.9rem;
  color: #555;
  margin-top: 0.625rem;
}

.carousel__controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.carousel__control {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #888;
}

.carousel__control:hover {
  color: #000;
}

.popup-main {
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 100;
}

.popup-main:target {
  visibility: visible;
  display: block;
}

.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(38, 57, 77) 0 1.25rem 1.875rem -0.625rem;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 0 1.5rem;
}

.team-header {
  flex: 1;
  text-align: center;
  margin-bottom: 7rem; /* Added margin to push footer down */
}

.team-header h3 {
  font-family: 'Caveat';
  color: #4BAF47;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  margin-top: -120px; 
}

.team-header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.team-header h6 {
  font-size: 0.75rem;
  color: #714015;
}

.team-header p {
  font-size: 1rem;
  width: 100%;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .team-container {
    flex-direction: row;
    padding: 0 5rem;
  }

  .team-header {
    text-align: left;
    margin-bottom: 0; /* Reset margin for larger screens */
  }

  .team-header h3 {
    font-size: 2rem;
  }

  .team-header h1 {
    font-size: 3.5rem;
  }

  .team-header p {
    width: 80%;
  }
}

.team-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.team-image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
}

.team-footer {
  display: flex;
  justify-content: center;
  z-index: 10;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  backdrop-filter: blur(0.3125rem);
  background: rgba(165, 165, 165, 0.2);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.team-footer img {
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.team-footer div {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.team-footer div:hover {
  transform: scale(1.1);
}

.team-footer .font-bold {
  margin-top: 1rem;
}

.team-footer .text-gray-600 {
  color: #718096;
  font-size: 0.875rem;
}
